.env
.env_example
.git
.github
.vscode
.venv
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
tests/
documentation/
*.sqlite3
database.db
*.log
*.swp
.DS_Store
package-lock.json
package.json
robux_republics.drawio
