services:
  backend:
    build:
      context: ./
      dockerfile: Dockerfile
    container_name: fastapi_app
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./data:/app/sql_data
    environment:
      - DB_NAME=/app/sql_data/database.db
      - PYTHONPATH=/app
    networks:
      - reseau_partage

  scheduler_finalize:
    build: ./
    container_name: scheduler_finalize
    command: python -m app.schelduler.finalize_transaction
    restart: always
    env_file: .env
    volumes:
      - ./data:/app/sql_data
    environment:
      - DB_NAME=/app/sql_data/database.db
      - PYTHONPATH=/app
    networks:
      - reseau_partage

  scheduler_mail:
    build: ./
    container_name: scheduler_mail
    command: python -m app.schelduler.mail_send
    restart: always
    env_file: .env
    volumes:
      - ./data:/app/sql_data
    environment:
      - DB_NAME=/app/sql_data/database.db
      - PYTHONPATH=/app
    networks:
      - reseau_partage

networks:
  reseau_partage:
    external: true
    name: global_network